header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ddd;
    color: #000;
    margin-bottom: 20px;
}

.logo{
    height: 60px;
}

nav a{
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    font-family: Verdana;
}

nav a:hover{
    text-decoration: underline;
}